---
import DefaultLayout from "../../components/DefaultLayout.astro";
import { getCollection, getEntryBySlug } from "astro:content";

export async function getStaticPaths() {
  const projects = await getCollection("projects");

  return projects.map((project) => ({
    params: { slug: project.slug },
  }));
}

const { slug } = Astro.params;
const project = await getEntryBySlug("projects", slug);

if (!project) {
  throw new Error(`Project not found: ${slug}`);
}

const { Content } = await project.render();
---

<DefaultLayout>
  <!-- <h1>{project.data.title}</h1> -->
  <!-- <img src={project.data.image} alt={project.data.title} /> -->
  <!-- <p>{project.data.summary}</p> -->
  <!-- <p>{project.id}</p> -->
  <!-- <a href={`/projects/${project.slug}`}>Read more →</a> -->
  <div class="markdown">
    <Content />
  </div>
</DefaultLayout>
